pyrogram==2.0.106
tgcrypto

python-dotenv
pydub
ffmpeg-python

aiohttp
requests

pillow

SpeechRecognition
pydantic

python-telegram-bot==20.7

sqlalchemy
aiosqlite

uvicorn
fastapi

py-tgcalls==2.2.8

google-generativeai

